<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Bruno Prela's 6.170 Fritter Part I.">
        <meta name="keywords" content="Bruno, Prela, Bruno Prela, MIT, Fritter, Twitter, 6.170, JavaScript">
        <meta name="author" content="Bruno Prela">

        <title>Fritter</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/style.css">
        <!-- "Fritter" Logo -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <!-- jQuery -->
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Custom Script -->
        <script src ="../js/tweets.js"></script>
    </head>

    <body>
        <!-- Navigation Bar -->
        <div class="container center">
            <h1 style="font-weight:bold; color:deepskyblue"><i class="fa fa-cloud"></i> Fritter</h1>
            <br>
            <a id="post-nav" href="/tweets/allNewsfeed">Post a Tweet</a> | <a id="my-nav" href="/tweets/myNewsfeed">Manage My Fritter</a> | <a id="logout-nav" href="/">Logout</a>
        </div>
        <!-- Error message displayed in case of 404 error. -->
        <div class="container center">
            <h1 style="font-size: 50px; color:deepskyblue">404</h1>
            <h3 style="font-weight:bold; color:red">Error: <%= message %></h3>
        </div>
    </body>
</html>